* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* contenedor */
.container {
    width: 1000px;
    margin: 0 auto;
    background-color: #f4f4f9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

/* Estilos generales */
body {
    background-color: #f8f8f8;

}

/* Contenedor de filas */
.row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    text-align: center;
}

/* Estilos generales para columnas */
.col {
    background-color: #87ceeb;
    flex: 1;
    border-radius: 5px;
    padding: 10px;
}

/* Ajuste de tamaños específicos */
.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}